      #Titulo {
          text-align: center;
          color: white !important;
      }

      .navbar {
          background-color: #383939;

      }

      .navbar .nav-link {
          color: white;
      }

      .navbar .nav-link:hover {
          color: rgb(209, 209, 209);
      }

      .card .btn {
          color: white;
          background-color: rgb(46, 46, 46);
      }

      .card .btn:hover {
          color: rgb(255, 255, 255);
          background-color: rgb(116, 115, 116);
      }

      .card {
          border: 3px solid rgb(255, 255, 255);
          border-radius: 5px;
      }

      .card-title {
        color: white;
      }

      .card-text {
        color: white;
      }

      .navbar-brand {
          color: white;
      }

      .navbar-brand:hover {
          color: rgb(209, 209, 209)
      }

      footer {
          color: white;
          text-align: center;
          background-color: #383939;
          height: 50px;
      }

      h1 {
          color: white;
      }

      label {
        color: white;
      }